body
{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}


h1, h2
{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}


header
{
  background: linear-gradient(to right, hsl(243, 58%, 33%) 20%, hsl(243, 86%, 85%));
}


.header-top
{
  display: flex;
  justify-content: space-between;
  padding-top: 60px;
}


.logo
{
  margin-left: 80px;
}


nav
{
  margin-right: 120px;
}


nav a
{
  color: white;
  text-decoration: none;
  margin-right: 40px;
  font-size: 1.2rem;
}


.Sign-Up
{
  display: inline-block;
  background-color: hsl(163, 95%, 43%);
  text-align: center;
  width: 120px;
  padding: 12px 12px;
  border-radius: 3px;
}


.header-intro
{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding-bottom: 150px;
}


.intro
{
  color: white;
  width: 45%;
  margin-left: 80px;
  font-size: 1.6rem;
}


.started-btn
{
  font-size: 1.6rem;
  display: inline-block;
  background-color: hsl(163, 95%, 43%);
  color: white;
  text-decoration: none;
  text-align: center;
  width: 300px;
  padding: 15px 12px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px hsl(0, 0%, 50%);
}


.header-intro img
{
  margin-right: 230px;
}


.diagonal
{
  height: 200px;
  width: 200%;
  background-color: white;
  position: relative;
  top: 135px;
  right: 10px;
  transform: rotate(4deg);
}


section
{
  margin-top: 80px;
  text-align: center;
}


section h1
{
  font-size: 2.3rem;
  color: hsl(243, 87%, 12%);
}


article
{
  display: flex;
  margin-top: 100px;
}


article img
{
  height: 400px;
  margin-top: 30px;
  margin-left: 50px;
}


article h2
{
  color: hsl(243, 87%, 12%);
}


.box-column
{
  margin-left: 300px;
  width: 16%;
  text-align: left;
  color: hsl(0, 0%, 50%);
  line-height: 1.2;
  font-size: 1.1rem;
}


.box-4
{
  margin-top: 55px;
}


.subscribe
{
  margin-top: 200px;
}


.subscribe p
{
  text-align: center;
  font-size: 1.2rem;
  width: 42%;
  margin: auto;
  line-height: 1.5;
  color: hsl(243, 58%, 33%);
}


form
{
  margin-top: 30px;
  margin-left: 570px;
  display: flex;
}


input
{
  height: 38px;
  width: 400px;
  border: 2px #ececec solid;
  box-shadow: 1px 1px 3px #ececec;
  border-radius: 4px;
  padding-left: 40px;
}


.join-btn
{
  font-size: 1.6rem;
  display: inline-block;
  background-color: hsl(163, 95%, 43%);
  color: white;
  text-decoration: none;
  text-align: center;
  width: 260px;
  padding: 6px 12px;
  border-radius: 5px;
  box-shadow: 1px 1px 3px hsl(0, 0%, 50%);
  margin-left: 25px;
}
